@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-blue: #2CAEFF;

    --color-gray-100: #F9F9F9;
    --color-gray-150: #DFE4EA;
    --color-gray-200: #CACACA;
    --color-gray-600: #0F0F0F;

    --font-heading: var(--font-inter);
    --font-sans: var(--font-inter);
}

@layer utilities {

    .toggle-fill-svg {
        @apply group-data-[day=true]:dark:invert
    }

    .stats-font-setup{
        @apply text-xl ;
    }

    .stats-border_odd {
        @apply relative before:content-[''] before:block before:h-[50%] before:w-[2px] before:bg-gray-150 before:absolute before:-right-3 before:top-1/4;
    }

    @media (min-width: 768px) {
        .stats-border_even {
            @apply relative before:content-[''] before:block before:h-[50%] before:w-[2px] before:bg-gray-150 before:absolute before:right-0 before:top-1/4;
        }
    }
}